@import "tailwindcss";

@theme {
  --color-bgc: #bfdbfe; /* light: sky-200 */
  --color-bbgc: #ffffff;
  --color-txt: #1e293b; /* slate-800 */
  --color-primary: #0284c7; /* light-blue-600 */
  --color-sry: #5d3e1d; /* amber-500 */
  --color-accent: #10b981; /* emerald-500 */
  --color-info: #0ea5e9; /* sky-500 */
  --color-success: #22c55e; /* green-500 */
  --color-warning: #fbbf24; /* yellow-400 */
  --color-error: #ef4444; /* red-500 */
  --color-divider: #1e293b; /* slate-800 */
  --icon-hover-bg: #e2e8f0; /* light-gray */
}

@layer base {
  [data-theme="dark"] {
    --color-bgc: #1f2937; /* slate-800 */
    --color-bbgc: #1f2937;
    --color-txt: #f1f5f9; /* slate-100 */
    --color-primary: #38bdf8; /* sky-400 */
    --color-sry: #fcd34d; /* yellow-300 */
    --color-accent: #6ee7b7; /* emerald-300 */
    --color-info: #38bdf8; /* sky-400 */
    --color-success: #4ade80; /* green-300 */
    --color-warning: #fde047; /* yellow-300 */
    --color-error: #f87171; /* red-400 */
    --color-divider: #94a3b8; /* slate-400 */
    --icon-hover-bg: #374151; /* gray-700 */
  }
}

@layer components {
  .input-style {
    @apply w-full p-3 rounded-lg border border-slate-300 dark:border-slate-600 bg-white dark:bg-slate-900 text-slate-800 dark:text-slate-100 focus:outline-none focus:ring-2 focus:ring-[color:var(--color-primary)] transition;
  }
}

/* Required for Modal animation support */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  opacity: 0;
  transform: scale(0.95);
  transition: all 200ms ease-in-out;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: scale(1);
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: scale(0.95);
}

@plugin "daisyui";

body {
  font-family: "Poppins", sans-serif;
}
